In [1]:
# set up python environment
import pandas as pd
import os
import numpy as np
import warnings
from pandas import read_csv
warnings.filterwarnings('ignore')

os.chdir('/Users/xiaodanxu/Library/CloudStorage/GoogleDrive-arielinseu@gmail.com/My Drive/GEMS/BILD-AQ')
state_list = ['AK', 'HI', 'OR', 'WA']
region_code = 'CD9'

In [5]:
output_dist_matrix = None
for st in state_list:
    print(st)
    dist_mat = \
    pd.read_csv('data/Network/' + st + '/distance_matrix_by_tracts.csv')
    dist_mat = dist_mat.rename(columns = {'Unnamed: 0': 'origin'})
    dist_matrix_long = pd.melt(dist_mat, id_vars = 'origin', 
                               var_name = 'destination', value_name = 'distance')
    dist_matrix_long.loc[:, ['origin', 'destination']] = dist_matrix_long.loc[:, ['origin', 'destination']].astype(int)
    output_dist_matrix = pd.concat([output_dist_matrix, dist_matrix_long])

output_dist_matrix.to_csv('data/Network/combined/distance_matrix_by_tracts_' + region_code + '.csv')
output_dist_matrix.head(5)

AK
HI
OR
WA

       origin  destination    distance
0  2020000701   2020000701    0.000000
1  2020001701   2020000701    2.029708
2  2020002202   2020000701    6.001826
3  2020002603   2020000701    5.305000
4  2050000100   2020000701  428.816097

In [2]:
output_travel_skim = None
for st in state_list:
    print(st)
    travel_skim = \
    pd.read_csv('data/Network/' + st + '/travel_time_skim.csv')
    output_travel_skim = pd.concat([output_travel_skim, travel_skim])

output_travel_skim.to_csv('data/Network/combined/travel_time_skim_' + region_code + '.csv')
output_travel_skim.head(5)

AK
HI
OR
WA

,Unnamed: 0,origin,destination,distance,distance_mile,travel_time_h,avg_speed
0,0,2122000200,2020000701,43.204810,61.146873,1.319346,46.346364
1,1,2122000300,2020000701,44.588911,63.061222,1.372656,45.941039
2,2,2122001300,2020000701,86.437885,120.942539,2.344721,51.580777
3,3,2170000101,2020000701,89.223540,124.795378,2.427636,51.406124
4,4,2170000502,2020000701,24.138359,34.776065,0.803895,43.259479